<template name="discussCreate">
    {{#ionModal customTemplate=true}}
        {{# autoForm collection="DPosts" id="dposts-create-form" type="insert"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
                <h2 class="title">Create New Discussion</h2>
                <button type="submit" class="button button-positive button-clear">Create</button>
            </div>
            <div class="content has-header overflow-scroll">
                {{> afQuickField name="title"}}
                {{> afQuickField name="content" rows=20}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>