<template name="signIn">
  {{#ionModal title=""}}

    <div class="padding text-center sign-in-modal">
      <p>
        <img src="/favicon-160x160.png" width=80 height=80 />
        <br>
        <strong>Hey! Please sign in to do that :)</strong>
      </p>

      <p>
        <button data-action="sign-in-facebook" class="button button-positive sign-in-button">
           Sign in with Facebook
        </button>

          <button data-action="sign-in-google" class="button button-positive sign-in-button">
              Sign in with Google
          </button>
      </p>
    </div>


  {{/ionModal}}
</template>
