<template name="notifications">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Notifications</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#if notificationCount}}
                {{#ionList}}
                    {{#each notifications}}
                        {{> notificationItem}}
                    {{/each}}
                {{/ionList}}
            {{else}}
                <div class="card">
                    <div class="item item-text-wrap">
                        You have no new notifications!
                    </div>
                </div>
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
</template>